body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(245, 245, 245, 0.986);
}

header {
    text-align: center;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    text-shadow: 0 0 5px gray;
    color: #fff;
    background-color:#0a8992;
    font-weight: bold;
    text-align: center;
    margin: 16px;
}

header img{
    width: 1200px;
    height: 365px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.quelle {
    text-align: right;
    font-size: 0.8em;
    padding-right: 4em;
    margin-top: -4em;
    color: #fff;
}

a:link,
a:visited {
    color: black
}

.quelle, 
.quelle a:link,
.quelle a:visited {
    color: #fff;
}

main {
    text-align: center;
    margin: 16px;
}

main h2 {
    background-color: #11828a;
    color: #fff;
}

.h4 {
    font-weight: bold;
}

.text {
    hyphens: auto; 
	text-align: justify;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.quelle2 {
    font-size: 12px;
}
.pic {
    width: 560px;
    height: 315px;
    border: 1px solid gray;
    margin: auto;
}

main ul {
    width: 560px;
    margin: auto;
}

footer {
    padding: 2em 0 3em 0;
}

.next {
    float: right;
    size: 9x;
    margin-right: 1.0em;
    color:  rgba(16, 151, 185, 0.89)
}

a:hover {
    color: rgba(16, 151, 185, 0.89)
}

@media screen and (max-width: 900px) {
    main {
        max-width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    header img.banner {
        width: 100vw;
    }
}